<div class = "row">
  <div class="col-md-8">
    <p>
      <h5>UserAgent:</h5>
      <div class="well">{{ clearance.userAgent }}</div>
    </p>
    <p>
      <h5>Cookies:</h5>
      <div class="well">{{ clearance.cookies }}</div>
    </p>
    <p>
      <h5>Key:</h5>
      <div class="well">{{ clearance.key }}</div>
    </p>
    <p ng-if="clearance.label">
      <h5>Label:</h5>
      <div class="well well-sm">{{ clearance.label }}</div>
    </p>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-2">
    <a href="#/"><button style="margin-top:20px" class="btn btn-default" ng-click="deleteClearance(clearance._id, clearance.key)">Delete</button></a>
  </div>
</div>
<div ng-hide="editMode" class="container">
  <div>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="toggleEdit()">Edit</button>
      <a style="margin-top:20px" class="btn btn-default" href="#/">Back</a>
    </p>
  </div>
</div>
<!-- Clearance form -->
<div ng-include="clearanceFormUrl">
</div>
